  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

section {
  max-width: 760px;
  background-color: #ffffff;
  padding: 2rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0% 5% 0%;
  margin-left: 20%;
}

.radio-inline {
  width: 250px;
  line-height: normal;
  /*padding: 8%;*/
}

.container h2 {
align-items: center;
font-weight: bold;
}

.input {
  width: 760px;
  display: flex;
  justify-content:space-around;
  margin-left: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

input[type=text], input[type=email] {
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-bottom: 40px;
  }

  .column1 input, .column2 input {
    width: 300px;
    line-height: normal;
    padding: 3%;
  }

  .column1, .column2 {
    flex: 1;
    align-items: center;
  }

  input[type=submit] {
      margin-top: 10px;
      margin-left: 400px;
      color: black;
      background-color: white;
      font-size: 20px;
      border-style: solid;
      border-width: thin;
      border-color: black;
      border-radius: 5px;
      cursor: pointer;
      height: 40px;
      width: 250px;
  }

  input[type=submit]:hover {
      background-color: #CD5D67;
  }

  .buttonholder {
    text-align: center;
    vertical-align: middle;
  }

  .choosefile {
    width: 200px;
    padding: 3%;
    margin-top: -50px;
    font-size: 15px;
  }

  .choosefile label {
    height: 10px;
  }
