  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

section {
  max-width: 760px;
  background-color: #ffffff;
  padding: 2rem 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container h2 {
align-items: center;
}

label {
  align-items: center;
  display: inline;
}

.input {
  width: 600px;
  display: flex;
  justify-content:space-between;
  margin-top: 5%;
  padding: 3%;
}

input[type=text] {
    width: 100%;
    border-style: solid;
    border-color: black;
    margin-bottom: 40px;
    padding: 3%;
  }

  input[type=email] {
      width: 100%;
      border-style: solid;
      border-color: black;
      margin-bottom: 40px;
      padding: 3%;
    }
